<div class="col-md-6 offset-md-3">
    <h2> View Books </h2>
    <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
            <label> Book Id</label>
            <input type="number" class ="form-control" id = "bookid"
                [(ngModel)] = "book.bookid" name = "bookid" [readOnly]="true">
        </div>

        <div class="form-group">
            <label> Book Name</label>
            <input type="text" class ="form-control" id = "bookname"
                [(ngModel)] = "book.bookname" name = "bookname" [readOnly]="true">
        </div>

        <div class="form-group">
            <label> Book Author</label>
            <input type="text" class ="form-control" id = "author"
                [(ngModel)] = "book.author" name = "author" [readOnly]="true">
        </div>
        <div class="form-group">
            <label> Book Price</label>
            <input type="text" class ="form-control" id = "price"
                [(ngModel)] = "book.price" name = "price" [readOnly]="true">
        </div>

        <button   class = "btn btn-success" type ="ok">OK</button>

    </form>
    </div>  