<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="books" routerLinkActive="active" class="nav-link" >Books List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-books" routerLinkActive="active" class="nav-link" >Add Books</a>
      </li>
      <li class = "nav-item">
        <a routerLink="update-books" routerLinkActive="active" class="nav-link" >Update Books</a>
    </li>
    <li class = "nav-item">
      <a routerLink="view-books" routerLinkActive="active" class="nav-link" >View Books</a>
  </li>
  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<!-- <footer class = "footer">
  <div class = "container">
      <span>All Rights Reserved 2022 @PoojaTripathiOzha</span>
  </div>
</footer> -->
